<div class "row">
  <div class="col-md-4 content">

    <h2>Your Booking in details:</h2>

    <p><%= @booking.annonce.address %></p>
    <br>
    <hr>
    <p>Start at: <%= @booking.start_date %> 18h!</p>

    <p>End to: <%= @booking.end_date %> 14h!</p>
    <br>
    <p>Be Enjoy</p>
  </div>


</div>
