<div class="card">
  <img class="card-img-top" data-src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">@annonce.name</h4>
    <p class="card-text">@annonce.description</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
