<h1>Annonces</h1>

<div class="container">
 <div class="row">
  <% @annonces.each do |annonce| %>
    <div class="col-md-6 clear-left">
      <li><%= link_to annonce.title, annonce_path(annonce) %></li>
    </div>
  <% end %>
</div>
</div>



<div class="container">

 <p><%= link_to "Add a new annonce", new_annonce_path, class: "btn btn-danger" %></p>

</div>

