<div class="text_center">
  <h1>Annonces</h1>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <% @annonces.each do |annonce| %>
      <div class="col-md-6 clear-left">
        <lu><%= link_to annonce.title, annonce_path(annonce) %></lu>
      </div>
    <% end %>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="container">

 <p><%= link_to "Add a new annonce", new_annonce_path, class: "btn btn-danger" %></p>

</div>

